# Local Python virtualenvs
.venv/
venv/
env/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/

# Coverage
.coverage
coverage.xml

# Logs
*.log

# SQLite local database
*.db
*.sqlite
*.sqlite3
registry.db
test_id_gen.db

# Node / frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.env.local

# Dist/build
build/
dist/

# OS
.DS_Store

# Test files and uploads (temporary)
uploads/
test-model/
test-model.zip
downloaded-model.zip
search.json

#autograder yaml file
ece461_fall_2025_openapi_spec.yaml
